:root {
    --btn-color: rgb(35, 84, 233);
    --dark-green: #008b68;
    --green: #08c19c;
    --light-green: #65fbd2;
}
body {
    font-size: 1.4rem;
}
header {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
h2 {
    font-weight: normal;
}
a {
    background-color: var(--btn-color);
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
}
nav {
    display: flex;
    align-items: center;
}
.profile-icon {
    width: 60px;
    height: 60px;
}