/* Laptop: 1191 x 585 
    Phone: 1080 x 2460*/
:root {
    --btn-color: #2354e9;
    --dark-green: #008b68;
    --green: #08c19c;
    --light-green: #65fbd2;
}
body {
    padding-left: 3%;
    padding-right: 3%;
}
main {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1080px) and (orientation: portrait) {
    main {
        padding-top: 25vh;
    }
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.1rem;
    font-weight: 600;
}
p {
    font-size: 20px;
    margin-bottom: 3rem;
}
.btn-link {
    background-color: var(--btn-color);
    padding: 24px 75px;
    border-radius: 30px;
    font-size: 2.4rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.btn-link:hover {
    background-color: #008b68;
}
.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}