:root {
    --btn-color: rgb(35, 84, 233);
    --dark-green: #008b68;
    --green: #08c19c;
    --light-green: #65fbd2;
}
body {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
body, input, button, label {
    font-size: 1.4rem;
}
main {
    padding-top: clamp(200px, 20%, 20%);
    width: 30%;
    min-width: 440px;
    border: 5px solid var(rgb(35, 84, 233));
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}
button {
    padding: 12px 25px;
    background-color: rgb(35, 84, 233);
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}
.btn-div {
    display: flex;
    justify-content: center;
}
a {
    color: white;
    text-decoration: none;
    padding: 12px 25px;
}