:root {
    --btn-color: rgb(35, 84, 233);
    --dark-green: #008b68;
    --green: #08c19c;
    --light-green: #65fbd2;
}
@media(max-width: 768px) {
    main {
        width: 620px;
    }
}
@media(min-width: 769px) {
    main {
        width: 30%;
    }
}
body {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
main {
    border: 5px solid var(--btn-color);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}
button {
    font-size: 1.4rem;
    padding: 12px 25px;
    background-color: var(--btn-color);
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}
.btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
}
a {
    font-size: 1.4rem;
    padding: 12px 25px;
    background-color: var(--btn-color);
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 12px;
}
a:visited {
    color: white;
    text-decoration: none;
}
