:root {
    --btn-color: rgb(35, 84, 233);
    --dark-green: #008b68;
    --green: #08c19c;
    --light-green: #65fbd2;
}
body {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
main {
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    padding-top: 10%;
}
.border-container {
    border: 5px solid var(--btn-color);
}
button {
    font-size: 1.4rem;
    padding: 12px 25px;
    background-color: var(--btn-color);
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}
.btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
}
a {
    font-size: 1.4rem;
    padding: 12px 25px;
    background-color: var(--btn-color);
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 12px;
}
a:visited {
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 1080px) and (orientation: portrait) {
    main {
        padding-top: 15vh;
        height: 40%;
    } /* without was good */
    h2 {
        font-size: 1.7rem;
    }  
    body {
        padding-left: 40px;
        padding-right: 40px;
    }
}
