body {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
main {
    width: 440px;
    border: 5px solid rgb(35, 184, 233);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}
button {
    font-size: 1.4rem;
    padding: 12px 25px;
    background-color: rgb(35, 184, 233);
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}
.btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
}
a {
    font-size: 1.4rem;
    padding: 12px 25px;
    background-color: rgb(35, 184, 233);
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 12px;
}
a:visited {
    color: white;
    text-decoration: none;
}
